html {
	box-sizing: border-box;
}
*,*::before,*::after {
	box-sizing: inherit;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover,
input[type="submit"]:hover{
	opacity: 0.7;
}
p,ul,h1,h2,h3,h4,h5{
	padding: 0;
	margin: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }
body{
	min-width: 330px;
}
.container{
	width: 100%;
	margin: 0 auto;
}
  @media (min-width: 660px){

body{
	width: 1345px;
	margin: 0 auto;
	font-size: 17px;
	font-weight: 400;
	font-family: "Cuprum", "Ptsans",sans serif;
	color: #fff;
}
.container{
	width: 1345px;
	margin: 0 auto;
}
}